{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Booking confirmation</title>
    </head>
    <body>
        <h2>Thank you for your booking</h2>
        <p>Your table has been booked successfully</p>
    </body>

    <a href="{% url 'book_table' %}"><button>Make a new booking</button></a>
    <a href="{% url 'amend' id=booking.id %}"><button>Amend booking</button></a>
    <a href="{% url 'cancel_booking' id=booking.id %}"><button>Cancel booking</button>
    <a href="{% url 'restaurant' %}"><button>Home</button></a>
    

</html>